<div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h5>Información de la Persona</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p><strong class="titulo"><i class="fa-solid fa-user"></i> Usuario:</strong> Juan Pérez González</p>
            <p><strong class="titulo"><i class="fa-solid fa-cake-candles"></i> Fecha de Nacimiento:</strong> 01/01/1990</p>
            <p><strong class="titulo"><i class="fas fa-mars text-primary"></i> Sexo:</strong> Masculino</p>
            <p><strong class="titulo"><i class="fas fa-id-card text-info"></i> CURP:</strong> PERJ900101HDFNNS09</p>
            <p><strong class="titulo"><i class="fas fa-school text-success"></i> Escuela:</strong> Escuela Primaria XYZ</p>
            <p><strong class="titulo"><i class="fas fa-user-tie text-warning"></i> Tutor:</strong> María González</p>
          </div>
        </div>
      </div>
    </div>
  </div>
