
<header class="header bg-dark">
  <p style="color:wheat;font-family: 'Times New Roman', Times, serif;"></p>
  <div class="logo">
    <img src="../../favicon.ico" alt="">
</div>
  <nav>
     <ul class="nav-links">
          <li><a routerLink="/inicio"> Inicio </a></li>
          <li><a routerLink="/form"> Formulario  Principal </a></li>
          <li><a routerLink="/admin"> Administracion </a></li>
          <li><a routerLink="/login"> Salir </a></li>
          
     </ul>            
  </nav>
</header>