

<div *ngIf="sesion; else loginTemplate">
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</div>

<ng-template #loginTemplate>
  <div style="margin: 10%">
    <div class="card">
      <h2 class="card-header text-center">Becas del Bienestar</h2>
      <div class="card-body" style="max-width: 400px; margin: 0 auto;">
        <form [formGroup]="formUser">
          <div class="mb-3">
            <label class="form-label">Numero de Cuenta</label>
            <input type="number" formControlName="user" class="form-control" placeholder="Escribe tu numero de Cuenta">
            <div class="alert alert-danger mt-2" *ngIf="formUser.get('user').touched && formUser.get('user').hasError('required')">
              El numero de cuenta es requerido
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" formControlName="passw" class="form-control" placeholder="Escribe tu Contraseña">
            <div class="alert alert-danger mt-2" *ngIf="formUser.get('passw').touched && formUser.get('passw').hasError('required')">
              La contraseña es requerida
            </div>
          </div>
          <div class="md-3 text-center">
            <button class="btn btn-success" (click)="validar()">Validar</button>
            <button class="btn btn-primary" (click)="registro()">Registro</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
