<fieldset>
    <div style="margin: 50px">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="formAlumno">
                    <h3>Ingresa tus datos:</h3>
                    <br>
                    <div class="mb-2">
                        <label for="id_estudiante">Numero de estudiante</label>
                        <input type="number" formControlName="id_estudiante" class="form-control" placeholder="Numero de estudiante" min="1">
                        <div class="alert alert-danger mt-2" *ngIf="formAlumno.get('id_estudiante').invalid && (formAlumno.get('id_estudiante').dirty || formAlumno.get('id_estudiante').touched)">
                            El numero es requerido
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="contraseña">Contraseña</label>
                        <input type="password" formControlName="contraseña" class="form-control" placeholder="Ingresa tu contraseña">
                        <div class="alert alert-danger mt-2" *ngIf="formAlumno.get('contraseña').invalid && (formAlumno.get('contraseña').dirty || formAlumno.get('contraseña').touched)">
                            La contraseña es un campo obligatorio
                        </div>
                    </div>
                    <div class="mb-2">
                        <label for="validacion">Repite la contraseña</label>
                        <input type="password" formControlName="validacion" class="form-control" placeholder="Repite la contraseña">
                        <div class="alert alert-danger mt-2" *ngIf="formAlumno.get('validacion').invalid && (formAlumno.get('validacion').dirty || formAlumno.get('validacion').touched)">
                            La validación de contraseña es requerida
                        </div>
                    </div>
                    <button class="btn btn-success" [disabled]="formAlumno.invalid" (click)="registro()">Confirmar mi solicitud</button>
                    <button class="btn btn-danger" (Click)="salir()"> Salir </button>
                </form>
            </div>
        </div>
    </div>
</fieldset>
